/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Ubuntu-Bold";

  src: url("./fonts/Ubuntu-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Ubuntu-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Ubuntu-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}